body {
    float: left;
    max-width: 375px;
    height: auto;
}

header {
    float: left;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    width: 100%

}

img.vhs {
    float: left;
    width: 70px;
    height: auto;
    margin: 0;
    padding: 0;
}

h1 {
    float: left;
    padding: 30 10 0;
    font-size: xx-small;
    Color: black;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

/*--Main Menu--*/
header div.banner table.menu {
    clear: both;
    font-family: 'Open Sans Condensed', sans-serif;
    height: auto;
    padding: 10 10 10;

}

header div.banner table.menu tr td {
    left: 0%;
}

header div.banner table.menu tr td td {
    left: 33%;
}

header div.banner table.menu tr td td td {
    left: 66%;
}

div.page {
    float: left;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    width: 100%

}

/*--Meet the crew--*/
div.subheader h2 {
    clear: both;
    margin: 0;
    padding: 10 10 0;
    font-size: medium;
    Color: black;
    font-family: 'Oswald', sans-serif;
}

table.pics td img.dvbois {
    float: left;
    max-width: 100px;
    height: auto;
    padding: 10 10 0;
}

table.pics td img.jordan {
    max-width: 100px;
    height: auto;
    padding: 10 10 0;
}

table.pics td img.sky {
    max-width: 100px;
    height: auto;
    padding: 10 10 0;
}

table.pics tr {
    font-family: 'Open Sans Condensed', sans-serif;
}

div.video h3 {
    font-family: 'Oswald', sans-serif;
}

div.general p {
    float: left;
    max-width: 375px;
    height: auto;
    padding: 10 10 10 10;
}

div.video iframe.explosionvid {
    max-width: 375px;
    height: auto;
}